@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;1,500&display=swap');




.high{
  
  position: absolute;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: aliceblue;
  font-size: 12vh;
  text-shadow: 10px black;
  padding: 10px;
  letter-spacing: 5px;
  overflow: auto;
  
  
}

